.job {
  height: 100%;
  overflow: auto;
}
.job form {
  width: 500px;
  margin: 0 auto;
  padding: 30px;
}
.job form h2 {
  text-align: center;
}
.job form p {
  line-height: 50px;
  font-size: 24px;
}
.job form p span {
  font-size: 16px;
}
.job form p textarea {
  vertical-align: top;
  margin-top: 20px;
  width: 357px;
  padding-left: 20px;
  border: 1px solid #ccc;
  margin-left: 12px;
}
.job form p input {
  width: 357px;
  height: 37px;
  padding-left: 20px;
  border: 1px solid #ccc;
  margin-left: 12px;
}
