.joinUs{
  padding:0 30px;
  table{
    text-align:center;
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
    thead{
      tr{
        th{
          height:50px;
          text-align:center;
        }
      }
    }
    tbody{
      tr{
        td{
          height:50px;
        }
      }
    }
  }
}