.joinUs {
  padding: 0 30px;
  overflow: auto;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.joinUs table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}
.joinUs table thead tr {
  background-color: #fff;
}
.joinUs table thead tr th {
  height: 50px;
  text-align: center;
}
.joinUs table tbody {
  position: relative;
}
.joinUs table tbody tr td {
  height: 50px;
}
.joinUs table tbody tr td .disabled {
  color: #ccc;
  cursor: not-allowed;
}
.joinUs .pagination {
  text-align: center;
  display: block;
}
.joinUs .pagination li {
  display: inline-block;
}
