.admin-content {
  padding-top: 20px;
  .am-text-primary {
    color: #0e90d2;
    font-size: 18px;
  }
  .am-panel-bd {
    overflow: hidden;
    .am-img-circle{
      float: left;
      width: 100px;
      height: 100px;
    }
    .am-u-md-8{
      float: right;
    }
  }

}